<!-- Nagłówek -->
<app-navbar></app-navbar>
<!-- koniec nagłówka -->

<div class="container q-container">
  <!--Dodawanie cytatu-->

  <button class="btn-floating teal add-button" (click)="form.onSwitchForm()">
    <i class="material-icons">add</i>
  </button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
  <!-- Koniec dodawanie cytatu -->

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <app-quotation-list
        [quotes]="quotes"
        (vote)="addVote($event.quotation, $event.value)"
      ></app-quotation-list>
    </div>
    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotes]="bestQuotes()" title="Najlepsze"></app-ranking>
      <app-ranking [quotes]="worstQuotes()" title="Najgorsze"></app-ranking>
    </div>
  </div>
</div>
