/* You can add global styles to this file, and also import other style files */
.mr-5 {
  margin-right: 5px;
}

.edit-row {
  transition: 0.5s ease-in-out;
  transform: translateX(-200%);
}

.drawer {
  transform: translateX(0) !important;
}

.q-container {
  position: relative;
}

.add-button {
  position: absolute !important;
  right: 0;
  top: -22px;
}
